<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<title>有一种深情叫不愿将就，有一种等待叫何以琛</title>
	<link rel="stylesheet" href="css/idangerous.swiper.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<h1>wechat test</h1>
	<p><img src="/rsx/img/p1.jpg"></p>
	<script src="/rsx/js/idangerous.swiper-2.0.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		wx.config({
	        debug: true,
	        appId: 'wxa0f06601f19433af',
	        timestamp: '第五步填入的那个时间戳',
	        nonceStr: '第五步填入的随机字符串',
	        signature: '第五步生成的signature值',
	        jsApiList: [
	            'onMenuShareTimeline',
	            'onMenuShareAppMessage',
	            'onMenuShareQQ',
	            'onMenuShareWeibo',
	            'hideMenuItems',
	            'showMenuItems',
	        ]
	    });

	    wx.ready(function(){
	    	var shareData = {
			    title: '那年|时光遗忘了，文字却清晰地复刻着',
			    desc: '那年|时光遗忘了，文字却清晰地复刻着',
			    link: 'http://game.4gshu.com/xuangedan/other-project/2015-01-06/',
			    imgUrl: 'http://game.4gshu.com/xuangedan/other-project/2015-01-06/img/share-wx-logo.jpg'
			};
	    	wx.onMenuShareAppMessage(shareData);
			wx.onMenuShareTimeline({
			    title: shareData.title, // 分享标题
			    link: shareData.link, // 分享链接
			    imgUrl: shareData.imgUrl, // 分享图标
			    success: function () { 
			        alert('success');
			    },
			    cancel: function () { 
			        alert('cancel');
			    }
			});
	    })
	</script>
	<script type="text/javascript">
		document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	        window.shareData = {
	              "imgUrl": "http://game.4gshu.com/xuangedan/other-project/hysxm2015-01-08/img/share-wx-logo.jpg",
	              "timeLineLink": "http://game.4gshu.com/xuangedan/other-project/hysxm2015-01-08/",
	              "tTitle": "有一种深情叫不愿将就，有一种等待叫何以琛",
	              "tContent": "有一种深情叫不愿将就，有一种等待叫何以琛"
	        };
	        WeixinJSBridge.on('menu:share:appmessage', function(argv) {
	            WeixinJSBridge.invoke('sendAppMessage', {
	                "img_url": window.shareData.imgUrl,
	                "link": window.shareData.timeLineLink,
	                "desc": window.shareData.tContent,
	                "title": window.shareData.tTitle
	            }, function(res) {});
	        });
	        WeixinJSBridge.on('menu:share:timeline', function(argv) {
	            WeixinJSBridge.invoke('shareTimeline', {
	                "img_url": window.shareData.imgUrl,
	                "img_width": "640",
	                "img_height": "640",
	                "link": window.shareData.timeLineLink,
	                "desc": window.shareData.tContent,
	                "title": window.shareData.tTitle
	            }, function(res) {});
	        });
	    }, false);
	</script>
</body>
</html>